#autocomplete-ul {
	position: fixed;
	top: 5px;
	left: 5px;

	margin: 0;
	padding: 0;
	border: 1px gray solid;
	background-color: white;

	display: none;
}

#autocomplete-ul li {
	display: block;
	padding: 0 5px;

	font-size: 10pt;

	cursor: pointer;
}

#autocomplete-ul li:hover {
	background-color: lightgray;
}

#autocomplete-ul li:not(:first-child) {
	padding-top: 0;
}

#autocomplete-ul li:not(:last-child) {
	border-bottom: 1px gray solid;
	padding-bottom: 2px;
}